---
import Layout from '~/layouts/Layout.astro'
import { SITE } from '~/config'
---

<Layout title="About" description={`About ${SITE.author}`}>
  <article class="p-6 md:p-10 prose prose-neutral dark:prose-invert max-w-none">
    <h1>About</h1>

    <p>
      In a nutshell, I'm a senior UX designer and frontend developer with over a decade of experience in both industry and government
      sectors. Throughout my career, I've been the go-to person for creative solutions. My journey began at <strong>FIVE GUYS</strong> (yes,
      the burger place), where I was a corporate trainer and traveled around the world opening restaurants and training employees. While I was
      there I discovered I really enjoyed design work and got my masters in instructional design.
    </p>

    <p>
      Fast forward a few years and I'm doing design work for the government, but I start to get the itch that I need some new skills because
      I couldn't actually build the things I wanted to create. One day I'm watching the show Silicon Valley on HBO and think to myself
      "Coding looks pretty cool, I want to learn how to do that." So I became self-taught in frontend development and the rest is history.
    </p>

    <h2>The Things I Value</h2>

    <p>
      Every designer has a unique set of values that guide their work and decision-making process. These values can vary widely, reflecting
      different approaches and philosophies within the design field. For me, the following are the core principles that shape my design
      practice:
    </p>

    <h3>1. Simplicity</h3>
    <p>
      I believe in creating designs that are straightforward and intuitive, ensuring users can easily navigate and engage with the product.
    </p>

    <h3>2. Collaboration</h3>
    <p>
      Working together with diverse teams and stakeholders enriches the design process, leading to more innovative and effective solutions.
    </p>

    <h3>3. Feedback</h3>
    <p>I value constructive feedback as it is crucial for continuous improvement and refinement of designs.</p>

    <h3>4. Cleverness</h3>
    <p>Ingenuity and creative problem-solving are at the heart of my design approach, helping to overcome challenges in novel ways.</p>

    <h3>5. Getting things done</h3>
    <p>
      I prioritize efficiency and actually pushing things out. Wherever possible I really try to avoid 'side quests' and focus on completing
      the task at hand.
    </p>

    <h2>My Design Approach</h2>

    <h3>1. Research</h3>
    <p>
      Great designers prioritize understanding. I seek out opinionated users and develop rapport with them, as their insights are
      invaluable. Having these users on my side allows me to bounce ideas off them and gather innovative suggestions. By asking a lot of
      questions and listening intently, I uncover the true needs and goals of the project.
    </p>

    <h3>2. Design</h3>
    <p>
      Before diving into code, I create visual representations using Figma. I like to create some fast initial drafts, usually over a day or
      two, and then show them to others to ensure I'm on the right track. This step is integral to my problem-solving process as it helps
      identify areas of opportunity and ensures alignment and clarity.
    </p>

    <h3>3. Develop</h3>
    <p>
      This phase involves bringing the design to life. My go-to tech stack includes TypeScript, React, and Tailwind CSS. I also heavily
      value unit testing with libraries such as Jest and Playwright to ensure future changes don't break existing work.
    </p>
    <p>For websites where users need control over their content, there's often no better solution than WordPress.</p>

    <h3>4. Iterate</h3>
    <p>
      The process doesn't end with the initial build. By monitoring user behavior and gathering feedback, we can identify areas for
      improvement, sparking another cycle of research, design, and build.
    </p>
  </article>
</Layout>
